In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

#1

In [4]:
df = pd.read_csv('data.csv', encoding='unicode_escape')
df.head()

,job_title,hh_title,age,salary,exp. period,title of exp.
0,data analyst,Data analyst,22.0,NaN,2.67,Data Analyst
1,data analyst,Data Analyst,21.0,NaN,0.83,Junior Data Analyst
2,data analyst,Data Analyst,30.0,NaN,7.50,Data Analyst
3,data analyst,Data Analyst,24.0,NaN,4.92,Data Analyst
4,data analyst,Data Analyst,27.0,450000.0,3.25,Business Intelligence Analyst

#2

In [19]:
oldX = df.drop(['hh_title', 'title of exp.', 'job_title'], axis=1)
y = df['job_title']

In [25]:
oldX

      age    salary  exp. period
0    22.0       NaN         2.67
1    21.0       NaN         0.83
2    30.0       NaN         7.50
3    24.0       NaN         4.92
4    27.0  450000.0         3.25
..    ...       ...          ...
995  51.0       NaN        25.42
996  22.0       NaN         1.58
997  42.0       NaN         9.33
998   NaN       NaN        16.08
999  19.0       NaN         0.33

[1000 rows x 3 columns]

#2

In [35]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.nan, strategy = 'mean')

X = imp.fit_transform(oldX)
X

array([[2.20000000e+01, 5.35354762e+05, 2.67000000e+00],
       [2.10000000e+01, 5.35354762e+05, 8.30000000e-01],
       [3.00000000e+01, 5.35354762e+05, 7.50000000e+00],
       ...,
       [4.20000000e+01, 5.35354762e+05, 9.33000000e+00],
       [2.65568421e+01, 5.35354762e+05, 1.60800000e+01],
       [1.90000000e+01, 5.35354762e+05, 3.30000000e-01]])

In [38]:
X.shape

(1000, 3)

#4

In [27]:
y

0      data analyst
1      data analyst
2      data analyst
3      data analyst
4      data analyst
           ...
995             sql
996             sql
997             sql
998             sql
999             sql
Name: job_title, Length: 1000, dtype: object

#5

In [36]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, train_size = 0.8, stratify=y)

#6

In [33]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [47]:
model = GaussianNB()
model.fit(Xtrain, ytrain)

GaussianNB()

#7

In [48]:
y_model = model.predict(Xtest)
accuracy_score(ytest, y_model)

0.335

#8

In [39]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X, y, cv=10)
scores.mean()

0.28500000000000003

In [44]:
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors=3)
model2.fit(X,y)
y_model2 = model.predict(X)
accuracy_score(y, y_model2)

0.865

In [46]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model2, X, y, cv=10)
scores.mean()

0.8640000000000001